@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Create Listings for Used Musical Instruments leveraging the power of AI.</p>
    <p>A creation by Tim Eggenberger</p>
    <div>
        
        <a class="nav-link text-dark" asp-area="" asp-controller="Item" asp-action="Create" >
            <input value="Try it!" class="btn btn-primary col-4 my-5" />
        </a>
    </div>
    
</div>
