@{
    ViewData["Title"] = "Success";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Success!</h1>
    <p>Your item has been added. You may now edit the item info, or upload images.</p>
    
    <div>

        <a class="nav-link text-dark" asp-area="" asp-controller="Item" asp-action="List">
            <input value="Edit Listings" type="button" class="btn btn-danger col-4 my-5" />
        </a>
    </div>

</div>