html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-label {
    font-size: .8rem;
    font-weight: 700;
}

.img-thumbnail {





    height: 150px;
}

.edit-img {
    max-width: 80%;
    max-height: 100%;
    object-fit: contain;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.id-header {
    font-size: 2rem;
}

.item-info {
    padding-left: 25px;
    border-left: 1px solid #c4bdbd;
}

.small-font {
    font-size: .9rem;
}

.bold {
    
    font-weight: 700;
}

#contact {
    border: 1px solid #808080;
    box-shadow: -2px 2px 5px #c4bdbd;
}

.contact-btn{
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    width: 45%
}

#main-img {
    /*width: 50%;*/
    max-width: 400px;
}

.web-thumb {
    max-height: 62px;
    max-width: 62px;
}

.thumb-border {
    height: 70px;
    width: 70px;
    border: 1px solid #c4bdbd;
    border-radius: 5px;
}

.arrow-btn {
    padding: 0;
    font-size: 2rem;
    
}

.btn-border {
    padding: 0;
    width: 46px;
    height: 46px;
    border: 1px solid black;
    border-radius: 23px;
}

@media (max-width: 1000px) {

  .list-price{
      display: none;
  }

    .img-thumbnail {
        height: 100px;
    }

}

