@model UVM1._5.Models.Item

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<datalist id="brandlist">

    @foreach(var brand in @ViewBag.brands){

        var name = brand;
        <option value="@name"></option>


    }

</datalist>
<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input id="brand" list="brandlist" asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serial" class="control-label"></label>
                <input id="serial" asp-for="Serial" class="form-control" onblur="parseSerial()" />
                <span asp-validation-for="Serial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Condition" class="control-label"></label>
                <input asp-for="Condition" class="form-control" />
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Retail" class="control-label"></label>
                <input asp-for="Retail" class="form-control" />
                <span asp-validation-for="Retail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    function parseSerial() {
        var brand = document.getElementById('brand');
        var serial = document.getElementById('serial');

        console.log(brand.value);
        console.log(serial.value);

        switch (brand.value) {
            case 'PRS':
                if (isLetter(serial.value[0])) {
                    alert("this serialnumber is consistant with an SE model, please verify it hasbeen identified accordingly.");
                }
                else if (serial.value.includes('S') || serial.value.includes('s')) {
                    alert("this serial number is consistant with an S2 model, please verify that it has been identified accordingly.")
                }
                // code block
                break;
            case 'G&L':
                // code block
                break;
            case 'Fender':
                if (serial.value.includes('M') || serial.value.includes('m')) {
                    alert("This serial is consistant with a Made in Mexico model. Please ensure item was identified accordingly");
                }
            default:
            // code block
        }
    }

    function isLetter(s) {
        return s.match(/[a-z]/i);
    }
</script>


@*
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
}*@
