@model UVM1._5.Models.Item

<div>
	<did class="d-flex">
		<div class="col-lg-8">
			<div>
				<img class="img-thumbnail" src="data:image;base64,@System.Convert.ToBase64String(Model.Images[1])" />
				<img />
				<img />
				<img />
			</div>

		</div>
		<div class="col-lg-6">
			<h3>@Model.Year @Model.Brand.Name @Model.Model </h3>
			<

		</div>
	</did>
</div>